.neo-card {
  padding: @gutter @gutter+ @gutter;
  margin: @gutter 0;
  border-radius: @radius;
  background-color: @content;
}

.neo-card-shadow {
  box-shadow: @shadow lighten(@text, 30%);
}

.neo-card-hover {
  transition: box-shadow 0.3s;
  box-shadow: @shadow lighten(@text, 20%);
}

.neo-card-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lighten(@text, 30%);
}

.neo-card-content {
  padding: @gutter 0;
}

.neo-card-footer {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: center;
}
